/**
* I think element-ui's default theme color is too light for long-term use.
* So I modified the default color and you can modify it to your liking.
**/

/* theme color */
$--color-primary: #19E3A3;
$--color-success: #1FD49C;
$--color-warning: #F7B955;
$--color-danger: #FF6B6B;
$--color-info: #8EA2B8;

$--button-font-weight: 500;

$--color-text-regular: #CBD6E2;
$--color-text-placeholder: #8EA2B8;
$--background-color-base: #0E151D;

$--border-color-light: #223040;
$--border-color-lighter: #1A2430;

$--table-border: 1px solid #223040;

/* icon font path, required */
$--font-path: "~element-ui/lib/theme-chalk/fonts";

@import "~element-ui/packages/theme-chalk/src/index";

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  theme: $--color-primary;
}
