// base color
$blue: #19E3A3;
$light-blue: #33C6E8;
$red: #FF6B6B;
$pink: #F0748E;
$green: #1FD49C;
$tiffany: #38C9B5;
$yellow: #F7B955;
$panGreen: #1FD49C;

// sidebar
$menuText: #8EA2B8;
$menuActiveText: #19E3A3;
$subMenuActiveText: #E7EEF8; // https://github.com/ElemeFE/element/issues/12951

$menuBg: #0B1117;
$menuHover: #101924;

$subMenuBg: #0E151D;
$subMenuHover: #14202B;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
